.message-with-avatar {
  display: flex;
  gap: 12px;

  &--right-handed {
    margin-left: auto;
  }

  &--left-handed {
    margin-right: auto;
  }
}

@media (screen and max-width: 480px) {
  .message-with-avatar {
    gap: 8px;
  }
}

