@import "../../chat";

.communication-block {
  min-height: 100px;
  max-height: 560px;
  padding: 30px 14px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include chat-shadowed-card();
}

@media (screen and max-height: 840px) {
  .communication-block {
    max-height: 380px;
  }
}
