@import "../../chat";

.communication-block {
  height: 560px;
  padding: 30px 14px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include chat-shadowed-card();
}

@media (screen and max-height: 850px) {
  .communication-block {
    height: 310px;
  }
}

@media (screen and max-width: 840px) {
  .communication-block {
    height: auto;
    flex: 1;
  }
}

@media (screen and max-width: 480px) {
  .communication-block {
    padding: 20px 10px;
  }
}
