.header-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;

  &__title {
    font-size: 57.695px;
    font-weight: 700;
  }

  &__description {
    font-size: 18.211px;
    font-weight: 300;
  }
}

@media (screen and max-width: 840px) {
  .header-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
