.text-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;

  &__field {
    font: inherit;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.1em;
    outline: none;
    border: none;
    flex: 1;

    &::placeholder {
      color: #CED0D6;
    }
  }

  &__right-acc {

  }
}
