.message-wrapper {
  border-radius: 28px;
  background: #D3E4FD;
  display: flex;
  max-width: 400px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-word;
  color: #000;
}

@media only screen and (max-width: 480px) {
  .message-wrapper {
    border-radius: 18px;
    padding: 8px 15px;
  }
}
