.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 24px;
  background: #007AFE;
  display: flex;
  align-items: center;
  justify-content: center;

  &--action {
    cursor: pointer;
    transition: 150ms ease all;

    &:hover {
      transform: scale(1.05);
    }
  }

  &--disabled {
    opacity: 0.5;
  }

  &__icon-abbr {
    color: #065EBC;
    font-family: "SF Pro Text";
    font-size: 1em;
    font-weight: 800;
  }
}
