*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('./common/fonts/SFProText-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('./common/fonts/SFProText-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('./common/fonts/SFProText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  background-size: cover;
  background: url("./common/assets/background.png") no-repeat center center;
  height: 100vh;
}

@media only screen and ((min-height: 980px) or (min-width: 1500px)) {
  body {
    background: linear-gradient(180deg, rgb(34, 139, 230) 0%, rgb(10, 63, 142) 100%);
  }
}

@media only screen and (max-width: 840px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
